#calculator {
	border: 1px #000000 solid;
	border-radius: 5px;
	padding: 10px;
}

.button-row {
	padding-top: 15px;
	padding-bottom: 15px;
}

.button-row:first-child {
	padding-top: 0;
}

.button-row:last-child {
	padding-bottom: 0;
}